*{
    margin: 0;padding: 0;
}
kbd{
    border: 1px solid gray;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
button{
    position:absolute;
    bottom: 0;
    right: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main{
    text-align: center;
}
#frist > div:nth-child(2){
    margin-left: 2em;
}
#frist > div:nth-child(3){
    margin-left: 4.7em;
}